appnope
attrs
backcall
bleach
cycler
decorator
defusedxml
entrypoints
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
MarkupSafe
matplotlib
mistune
mpmath
nbconvert
nbformat
notebook
numpy
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
scikit-learn
scipy
Send2Trash
six
sklearn
terminado
testpath
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
